red {
    display: inline;
    color: red;
}

blu {
    display: inline;
    color: blue;
}

gre {
    display: inline;
    color: green !important;
}

ora {
    display: inline;
    color: orange;
}

ind {
    display: inline;
    color: indigo;
}

yel {
    display: inline;
    color: gold;
    opacity: 0.85;
}

/* element.class*/
span.red{
    color:red;
}

span.blu{
    color:blue;
}

span.gre{
    color:green !important;
}

span.ora{
    color: orange;
}